<ul id="main"
    style="display:block;width:100%;height:auto;padding:0;list-style:none;box-sizing:border-box;float:none;clear:left;font-style:normal;font-weight:normal;line-height:normal;font-family:Century Gothic, Arial, Helvetica, sans-serif;background-color:#f1f1f1;margin:120px auto 50px auto;">
    <li
        style="display:block;width:100%;height:auto;padding:0;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:10px auto 11px auto">
        <ul
            style="display:block;width:90%;height:auto;padding:0;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto">
            <li
                style="display:block;width:100%;height:auto;padding:0;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                <img src="https://4.bp.blogspot.com/-4Ii95uAfyR0/Wjvxg2kyvCI/AAAAAAAAGtI/dQXePZi20NcseRqha9axYu0RcHjci5WxACLcBGAs/s1600/top_nw.png"
                    style="display:block;width:100%;height:auto;margin:0 auto;float:none;clear:left;" /></li>
            <ul
                style="display:block;width:100%;height:auto;padding:0;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;background-color:#fff;line-height:normal;margin:0 auto;float:none;clear:left;">
                <li
                    style="display:block;width:89%;height:auto;padding:20px 0 21px;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                    <p style="display:block;width:50%;height:auto;margin:0 auto;padding:10px;"><img
                            src="https://raw.githubusercontent.com/cssmfc/xniteproductions/master/assets/bootstrap/thumbs/pic07.jpg"
                            style="display:block;width:90%;height:auto;margin:0 auto;" /></p>
                </li>
                <li
                    style="display:block;width:100%;height:auto;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;padding:0;text-decoration:none;margin:5px auto 10px auto;text-align:center;">
                    <ul
                        style="display:block;width:100%;height:auto;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;line-height:normal;margin:0 auto;padding:0;float:none;clear:left;">
                        <li
                            style="display:block;width:33.33%;height:auto;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;line-height:normal;margin:0 auto;padding:0;float:left;background-color:#0099CC;">
                            <a href="#"
                                style="display:block;width:90%;height:auto;margin:0 auto;color:#fff;font-size:19px;text-decoration:none;padding:10px;">Follow
                                me on Twitter</a></li>
                        <li
                            style="display:block;width:33.33%;height:auto;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;line-height:normal;margin:0 auto;padding:0;float:left;background-color:#FF9900;">
                            <a href="#"
                                style="display:block;width:90%;height:auto;margin:0 auto;color:#fff;font-size:19px;text-decoration:none;padding:10px;">My
                                Chaturbate Wishlist</a></li>
                        <li
                            style="display:block;width:33.33%;height:auto;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;line-height:normal;margin:0 auto;padding:0;float:left;background-color:#F39;">
                            <a href="#"
                                style="display:block;width:90%;height:auto;margin:0 auto;color:#fff;font-size:19px;text-decoration:none;padding:10px;">Join
                                My Club</a></li>
                        <li
                            style="display:block;width:100%;height:1%;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;line-height:normal;margin:0 auto;padding:0;float:none;clear:left;opacity:0;">
                            divider</li>
                    </ul>
                </li>
                <li
                    style="display:block;width:89%;height:auto;padding:20px 0 21px;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                    <p
                        style="display:block;width:90%;height:auto;margin:0 auto;padding:10px;font-size:28px;font-weight:normal;color:#F69;">
                        About Me</p>
                </li>
                <li
                    style="display:block;width:89%;height:auto;padding:20px 0 21px;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                    <p
                        style="display:block;width:90%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;">
                        Add your custom text here</p>
                    <p
                        style="display:block;width:90%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </li>
                <li
                    style="display:block;width:89%;height:auto;padding:20px 0 21px;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                    <p
                        style="display:block;width:90%;height:auto;margin:0 auto;padding:10px;font-size:28px;font-weight:normal;color:#F69;">
                        My Room Rules</p>
                </li>
                <li
                    style="display:block;width:89%;height:auto;padding:20px 0 21px;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                    <p
                        style="display:block;width:70%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        1. Add your custom text here for room rules</p>
                    <p
                        style="display:block;width:70%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        2. Add your custom text here for room rules</p>
                    <p
                        style="display:block;width:70%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        3. Add your custom text here for room rules</p>
                    <p
                        style="display:block;width:70%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        4. Add your custom text here for room rules</p>
                    <p
                        style="display:block;width:70%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        5. Add your custom text here for room rules</p>
                    <p
                        style="display:block;width:70%;height:auto;margin:0 auto;padding:10px;font-size:18px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        6. Add your custom text here for room rules</p>
                </li>
                <li
                    style="display:block;width:89%;height:auto;padding:20px 0 21px;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                    <p
                        style="display:block;width:90%;height:auto;margin:0 auto;padding:10px;font-size:28px;font-weight:normal;color:#F69;">
                        My Tip Menu</p>
                </li>
                <li
                    style="display:block;width:89%;height:auto;padding:20px 0 21px;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                    <p
                        style="display:block;width:90%;height:40px;float:none;clear:left;margin:0 auto;padding:10px;font-size:15px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        <i
                            style="display:block;width:70%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;">Add
                            your tip request here</i><i
                            style="display:block;width:20%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;color:#F39;text-align:center;">200
                            tokens</i></p>
                    <p
                        style="display:block;width:90%;height:40px;float:none;clear:left;margin:0 auto;padding:10px;font-size:15px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        <i
                            style="display:block;width:70%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;">Add
                            your tip request here</i><i
                            style="display:block;width:20%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;color:#F39;text-align:center;">200
                            tokens</i></p>
                    <p
                        style="display:block;width:90%;height:40px;float:none;clear:left;margin:0 auto;padding:10px;font-size:15px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        <i
                            style="display:block;width:70%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;">Add
                            your tip request here</i><i
                            style="display:block;width:20%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;color:#F39;text-align:center;">200
                            tokens</i></p>
                    <p
                        style="display:block;width:90%;height:40px;float:none;clear:left;margin:0 auto;padding:10px;font-size:15px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        <i
                            style="display:block;width:70%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;">Add
                            your tip request here</i><i
                            style="display:block;width:20%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;color:#F39;text-align:center;">200
                            tokens</i></p>
                    <p
                        style="display:block;width:90%;height:40px;float:none;clear:left;margin:0 auto;padding:10px;font-size:15px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        <i
                            style="display:block;width:70%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;">Add
                            your tip request here</i><i
                            style="display:block;width:20%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;color:#F39;text-align:center;">200
                            tokens</i></p>
                    <p
                        style="display:block;width:90%;height:40px;float:none;clear:left;margin:0 auto;padding:10px;font-size:15px;font-weight:normal;color:#666;text-align:left;border-bottom:1px solid #f1f1f1;">
                        <i
                            style="display:block;width:70%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;">Add
                            your tip request here</i><i
                            style="display:block;width:20%;height:auto;margin:0 auto;padding:5px;float:left;font-style:normal;color:#F39;text-align:center;">200
                            tokens</i></p>
                </li>

                <li
                    style="display:block;width:90%;height:auto;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;text-decoration:none;margin:20px auto 30px auto;text-align:center;float:none;clear:left;">
                    <p
                        style="display:block;width:80%;height:auto;padding:20px;margin:0 auto;font-size:43px;color:#F39;">
                        Send Gift Cards</p>
                    <ul
                        style="display:block;width:93%;height:auto;box-sizing:border-box;list-style:none;padding:30px 4px 33px;margin:0 auto;border-radius:0 0 5px 5px;">
                        <li
                            style="display:block;width:96%;height:auto;text-align:center;font-size:19px;color:#666;line-height:normal;font-weight:normal;margin:7px 5px 13px 5px;float:none;clear:left;padding:9px 0 10px;box-sizing:border-box;list-style:none;">
                            <i style="display:block;text-align:center;font-style:normal;">Send your Gift Cards to my
                                email@address.com or head over my Chaturbate Wishlist</i></li>
                        <li
                            style="display:block;width:45%;height:auto;text-align:center;font-size:16px;color:#F39;line-height:normal;font-weight:normal;margin:2px 5px 3px 2px;float:left;padding:0 0 11px;box-sizing:border-box;list-style:none;">
                            <img src="https://raw.githubusercontent.com/cssmfc/camgirl/master/misc_assets/giftcards/g_giftcard.png"
                                style="display:block;width:100%;height:auto;margin:0 auto 12px auto;float:none;clear:left;" /><a
                                href="#"
                                style="display:block;width:80%;height:auto;float:none;clear:left;padding:7px 12px;font-size:15px;text-align:center;margin:5px auto 7px auto;text-decoration:none;background-color:#F39;border-radius:4px;color:#fff;text-shadow:0 1px 0 #000;">Send
                                Gift Card</a></li>
                        <li
                            style="display:block;width:45%;height:auto;text-align:center;font-size:16px;color:#F39;line-height:normal;font-weight:normal;margin:2px 5px 3px 2px;float:left;padding:0 0 11px;box-sizing:border-box;list-style:none;">
                            <img src="https://editbio.files.wordpress.com/2016/06/spazzy_amazon.png"
                                style="display:block;width:100%;height:auto;margin:0 auto 12px auto;float:none;clear:left;" /><a
                                href="#"
                                style="display:block;width:80%;height:auto;float:none;clear:left;padding:7px 12px;font-size:15px;text-align:center;margin:5px auto 7px auto;text-decoration:none;background-color:#F39;border-radius:4px;color:#fff;text-shadow:0 1px 0 #000;">Send
                                Gift Card</a></li>
                    </ul>
                </li>
                <li
                    style="display:block;width:100%;height:1%;box-sizing:border-box;list-style:none;font-weight:normal;font-style:normal;line-height:normal;margin:0 auto;padding:0;float:none;clear:left;opacity:0;">
                    divider</li>
                <li
                    style="display:block;width:90%;list-style:none;font-size:16px;box-sizing: border-box;text-align:center;margin:0 auto;background-color:rgba(0,0,0,0.80);padding-top:6px;padding-bottom:6px;border-radius:20px;-webkit-border-radius:20px;position:fixed;bottom:-10px;color:#f1f1f1;left:1%;right:1%;padding:5px 0 15px;font-family:century Gothic;">
                    Design your own Bio page, click <a href="https://camgirl.cloud/"
                        style="color:#fff;text-shadow:0 1px 2px #000;text-decoration:underline;">Here</a> - <a
                        href="https://camgirl.cloud/"
                        style="color:#fff;text-shadow:0 1px 2px #000;text-decoration:none;" rel="author"
                        target="_blank">Camgirl Live Template Editor the #1 editing tool for webcam performers</a></li>
            </ul>
            <li
                style="display:block;width:100%;height:auto;padding:0;list-style:none;box-sizing:border-box;font-style:normal;font-weight:normal;line-height:normal;margin:0 auto;text-align:center;">
                <img src="https://4.bp.blogspot.com/-3a29l9S6NUs/WjvxgwAwNXI/AAAAAAAAGtM/jN-H4-HJ99E3Pluvkovkulee2iDJpdHQQCLcBGAs/s1600/bottom_nw.png"
                    style="display:block;width:100%;height:auto;margin:0 auto;float:none;clear:left;" /></li>
        </ul>
    </li>
</ul>